<div class="content">
  <div
    class="alert alert-danger fade show"
    role="alert"
    id="errorAlert"
    [hidden]="!errorDetected"
  >
    <strong>Invalid Data!</strong>
    <button
      type="button"
      class="btn-close float-end"
      (click)="errorDetected = false"
    ></button>
  </div>

  <div class="progress">
    <div
      class="circle"
      [class.active]="activeCircle1"
      [class.next-active]="activeCircle2"
    >
      <i class="fas fa-check"></i>
    </div>
    <div
      class="circle"
      [class.active]="activeCircle2"
      [class.next-active]="activeCircle3"
    >
      <i class="fas fa-check"></i>
    </div>
    <div
      class="circle"
      [class.active]="activeCircle3"
      [class.next-active]="activeCircle4"
    >
      <i class="fas fa-check"></i>
    </div>
    <div class="circle" [class.active]="activeCircle4">
      <i class="fas fa-check"></i>
    </div>
  </div>

  <ng-container *ngIf="page1">
    <div class="fixed-top-left">
      <div>
        Total value: {{ this.cart ? this.cart.totalValueWithDiscount : 0 }}
        {{ this.preferredCurrencySymbol }}
      </div>
      <div class="button-group">
        <button disabled class="btn btn-primary">Back</button>
        <button
          class="btn btn-primary"
          (click)="changeCheckoutPage(currentPage + 1)"
        >
          Next
        </button>
      </div>
    </div>

    <!-- Content for Page 1 -->
    <div class="cart-items">
      <ng-container *ngIf="this.cart">
        <div *ngFor="let cartProduct of cart.products" class="cart-item">
          <div class="cart-item-wrapper">
            <div class="cart-left">
              <a class="photo cart-product"
                ><img
                  src="https://localhost:7204{{
                    cartProduct.product.imagePath
                  }}"
                  class="cart-thumb img-fluid"
                  alt="image"
              /></a>
            </div>
            <div class="cart-right">
              <div class="row">
                <div class="col centerInfoText mt-20px">
                  <h6>
                    <a class="cart-product">
                      {{ cartProduct.product.name }} <br />
                      {{ cartProduct.product.typeOfMaterialMade }}
                    </a>
                  </h6>
                  <p>
                    {{
                      cartProduct.quantityBought
                        ? cartProduct.quantityBought
                        : 1
                    }}
                    x -
                    <span class="price"
                      >{{ cartProduct.product.individualPrice }}
                      {{ this.preferredCurrencySymbol }}</span
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </ng-container>
  <ng-container *ngIf="page2">
    <!-- Content for Page 2 -->
    <div class="fixed-top-left">
      <div>
        Total value: {{ this.cart ? this.cart.totalValueWithDiscount : 0 }}
        {{ this.preferredCurrencySymbol }}
      </div>
      <div class="button-group">
        <button
          class="btn btn-primary"
          (click)="changeCheckoutPage(currentPage - 1)"
        >
          Back
        </button>
        <button
          class="btn btn-primary"
          (click)="changeCheckoutPage(currentPage + 1)"
        >
          Next
        </button>
      </div>
    </div>

    <div class="card mt-4 mx-auto custom-card">
      <div class="card-header text-bg-primary">Client Information</div>
      <div class="card-body">
        <p class="text-center">
          Please confirm your personal details and make changes if necessary
          since they'll be used for the delivery of your products.
        </p>
        <ng-container *ngIf="this.cart.clientInfo">
          <!-- Input Groups -->
          <!-- Name and Contact -->
          <div class="row mb-3">
            <div class="col-md-6">
              <div class="input-group">
                <span class="input-group-text">Name</span>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="this.cart.clientInfo.name"
                  disabled
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-group">
                <span class="input-group-text">Contact</span>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="this.cart.clientInfo.contact"
                  disabled
                />
              </div>
            </div>
          </div>

          <!-- NIF and Country -->
          <div class="row mb-3">
            <div class="col-md-6">
              <div class="input-group">
                <span class="input-group-text">NIF</span>
                <input
                  type="number"
                  class="form-control"
                  [(ngModel)]="this.cart.clientInfo.nif"
                  disabled
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-group">
                <span class="input-group-text">Country</span>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="this.cart.clientInfo.country"
                  disabled
                />
              </div>
            </div>
          </div>

          <!-- Address and Email -->
          <div class="row mb-3">
            <div class="col-md-6">
              <div class="input-group">
                <span class="input-group-text">Address</span>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="this.cart.clientInfo.address"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-group">
                <span class="input-group-text">Email</span>
                <input
                  type="email"
                  class="form-control"
                  [(ngModel)]="this.cart.clientInfo.email"
                  disabled
                />
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="page3">
    <!-- Content for Page 3 -->
    <div class="fixed-top-left">
      <div>
        Total value: {{ this.cart ? this.cart.totalValueWithDiscount : 0 }}
        {{ this.preferredCurrencySymbol }}
      </div>
      <div class="button-group">
        <button
          class="btn btn-primary"
          (click)="changeCheckoutPage(currentPage - 1)"
        >
          Back
        </button>
        <!-- Button trigger modal -->
        <button
          type="button"
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#confirmationModal"
        >
          Finish Purchase
        </button>

        <!-- Modal -->
        <div
          class="modal fade"
          id="confirmationModal"
          tabindex="-1"
          aria-labelledby="confirmationModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="confirmationModalLabel">
                  Confirmation
                </h1>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <p>
                  Please confirm your purchase. If you want to change any
                  information, you can still go back to the previous pages and
                  change it.
                </p>
                <p>
                  Total value:
                  {{ this.cart ? this.cart.totalValueWithDiscount : 0 }}
                  {{ this.preferredCurrencySymbol }}
                </p>
                <p>
                  Address for delivery:
                  {{ this.cart ? this.cart.clientInfo.address : "" }}
                </p>
                <p>
                  Contact:
                  {{ this.cart ? this.cart.clientInfo.contact : "" }}
                </p>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
                <button
                  type="button"
                  class="btn btn-primary"
                  data-bs-dismiss="modal"
                  (click)="changeCheckoutPage(currentPage + 1)"
                >
                  Confirm
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Select Payment Method-->
    <div class="col mx-auto custom-select">
      <select
        class="form-select"
        aria-label="Default select example"
        [(ngModel)]="this.cart.paymentMethod"
        (change)="updatePaymentMethod()"
      >
        <option selected hidden value="">Select Payment Method</option>
        <option value="Credit Card">Credit Card</option>
        <option value="Paypal">Paypal</option>
        <option value="Bank Transfer">Bank Transfer</option>
        <option value="MBWay">MBWay</option>
      </select>
    </div>

    <ng-container *ngIf="this.cart.paymentMethod == 'Credit Card'">
      <div class="card mt-3 mx-auto" id="creditCard">
        <div class="card-header text-bg-primary">Credit Card Information</div>
        <div class="card-body">
          <div class="row m-0">
            <!-- Points per 1$ or whatever currency the client prefers -->
            <div class="col mr-40px">
              <ng-container *ngIf="this.cart.clientInfo">
                <ng-container *ngIf="this.cart.clientInfo">
                  <div class="input-group">
                    <span class="input-group-text"
                      >Points per {{ this.currencyPer10Points }}
                      {{ this.preferredCurrencySymbol }}</span
                    >
                    <input
                      type="text"
                      class="form-control"
                      value="10"
                      disabled
                    />
                  </div>
                </ng-container>
              </ng-container>
            </div>

            <div class="col mr-40px">
              <ng-container *ngIf="this.cart.clientInfo">
                <ng-container *ngIf="this.cart.clientInfo">
                  <div class="input-group">
                    <span class="input-group-text">Current Points</span>
                    <input
                      type="text"
                      class="form-control"
                      [(ngModel)]="this.cart.clientInfo.currentPoints"
                      disabled
                    />
                  </div>
                </ng-container>
              </ng-container>
            </div>

            <div class="col">
              <div class="form-check form-switch">
                <input
                  class="form-check-input"
                  type="checkbox"
                  role="switch"
                  id="flexSwitchCheckDefault"
                  [(ngModel)]="appliedDiscount"
                />
                <label class="form-check-label" for="flexSwitchCheckDefault"
                  >Apply Discount</label
                >
              </div>
            </div>
          </div>

          <ng-container *ngIf="this.cart.clientInfo">
            <!-- Security Code and Credit Card Number -->
            <div class="row mt-4 mr-0 ml-0">
              <div class="col-4 pl-0 pr-40px">
                <div class="input-group">
                  <span class="input-group-text">Security Code</span>
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="this.securityCode"
                    (input)="formatSecurityCode()"
                    maxlength="3"
                    placeholder="XXX"
                  />
                </div>
              </div>

              <div class="col-8">
                <div class="input-group">
                  <span class="input-group-text">Credit Card Number</span>
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="this.creditCardNumber"
                    (input)="formatCreditCardNumber()"
                    maxlength="25"
                    placeholder="XXXX ● XXXX ● XXXX ● XXXX"
                  />
                </div>
              </div>
            </div>

            <!-- Client's name -->
            <div class="row mt-4 mr-0 ml-0">
              <div class="col">
                <div class="input-group">
                  <span class="input-group-text">Card Holder</span>
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="this.cart.clientInfo.name"
                    disabled
                  />
                </div>
              </div>
            </div>

            <!-- Expiration Date Month/Year separated -->
            <div class="row mt-4 mr-0 ml-0">
              <div class="col-6 pl-0 pr-40px">
                <div class="input-group" id="selectText">
                  <span class="input-group-text text-center"
                    >Expiration Date - Month</span
                  >
                  <select
                    class="form-control"
                    [(ngModel)]="this.expirationDateMonth"
                  >
                    <option selected hidden value="">MM</option>
                    <option *ngFor="let month of months" [value]="month">
                      {{ month < 10 ? "0" + month : month }}
                    </option>
                  </select>
                </div>
              </div>

              <div class="col-6">
                <div class="input-group">
                  <span class="input-group-text">Expiration Date - Year</span>
                  <select
                    class="form-control"
                    [(ngModel)]="this.expirationDateYear"
                  >
                    <option selected hidden value="">YYYY</option>
                    <option *ngFor="let year of years" [value]="year">
                      {{ year }}
                    </option>
                  </select>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </ng-container>

    <!--Payment with MBWay-->
    <ng-container
      *ngIf="cart.paymentMethod === 'MBWay' && cart && cart.clientInfo"
    >
      <div class="card mt-3 mx-auto custom-card" id="mbway">
        <div class="card-header text-bg-primary"></div>
        <div class="card-body">
          <!-- Novos campos adicionados -->
          <div class="row mt-3">
            <div class="col mr-40px">
              <ng-container *ngIf="cart.clientInfo">
                <div class="input-group">
                  <span class="input-group-text">
                    Points per {{ currencyPer10Points }}
                    {{ preferredCurrencySymbol }}
                  </span>
                  <input type="text" class="form-control" value="10" disabled />
                </div>
              </ng-container>
            </div>

            <div class="col mr-40px">
              <ng-container *ngIf="cart.clientInfo">
                <div class="input-group">
                  <span class="input-group-text">Current Points</span>
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="cart.clientInfo.currentPoints"
                    disabled
                  />
                </div>
              </ng-container>
            </div>

            <div class="col">
              <div class="form-check form-switch">
                <input
                  class="form-check-input"
                  type="checkbox"
                  role="switch"
                  id="flexSwitchCheckDefault"
                  [(ngModel)]="appliedDiscount"
                />
                <label class="form-check-label" for="flexSwitchCheckDefault"
                  >Apply Discount</label
                >
              </div>
            </div>
          </div>

          <div class="row align-items-center">
            <!-- Imagem do MBWay -->
            <div class="col-auto">
              <img
                src="assets/images/MB_WAY.jpeg"
                alt="MBWay Logo"
                class="mbway-logo"
              />
            </div>
            <!-- Mensagem ao cliente -->
            <div class="col">
              <p>
                Confirm the phone number associated with your bank card to make
                the payment through your MBWay application. Then, through your
                MBWay application, accept the payment request sent, and your
                payment will be completed.
              </p>
            </div>
          </div>
          <!-- Campo para o número de telefone associado ao MBWay -->
          <div class="row m-0">
            <div class="col">
              <div class="input-group">
                <span class="input-group-text">Phone Number</span>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="cart.clientInfo.contact"
                  disabled
                />
              </div>
            </div>
          </div>

          <!-- Botão para enviar pedido de pagamento à app MBWAY -->
          <div class="row mt-3">
            <div class="col">
              <button class="btn btn-primary">Send request to MBWay app</button>
            </div>
          </div>
        </div>
      </div>
    </ng-container>

    <!--Payment with PayPal -->
    <ng-container
      *ngIf="cart.paymentMethod === 'Paypal' && cart && cart.clientInfo"
    >
      <div class="card mt-3 mx-auto" id="paypal">
        <div class="card-header text-bg-primary">
          <h5 class="mb-0">Payment details</h5>
        </div>
        <div class="card-body">
          <!-- Novos campos adicionados -->
          <div class="row mt-3">
            <div class="col mr-40px">
              <ng-container *ngIf="cart.clientInfo">
                <div class="input-group">
                  <span class="input-group-text">
                    Points per {{ currencyPer10Points }}
                    {{ preferredCurrencySymbol }}
                  </span>
                  <input type="text" class="form-control" value="10" disabled />
                </div>
              </ng-container>
            </div>

            <div class="col mr-40px">
              <ng-container *ngIf="cart.clientInfo">
                <div class="input-group">
                  <span class="input-group-text">Current Points</span>
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="cart.clientInfo.currentPoints"
                    disabled
                  />
                </div>
              </ng-container>
            </div>

            <div class="col">
              <div class="form-check form-switch">
                <input
                  class="form-check-input"
                  type="checkbox"
                  role="switch"
                  id="flexSwitchCheckDefault"
                  [(ngModel)]="appliedDiscount"
                />
                <label class="form-check-label" for="flexSwitchCheckDefault"
                  >Apply Discount</label
                >
              </div>
            </div>
          </div>

          <!-- Imagem do PayPal -->
          <div class="row mt-3">
            <div class="col-auto">
              <img
                src="assets/images/Paypal-logo.png"
                alt="PayPal Logo"
                class="paypal-logo"
              />
            </div>
            <div class="col-mess">
              <p class="paypal-message">
                Please review your payment details and the amount to be paid,
                and click on the link below to be redirected to the paypal page
                where you will proceed with payment
              </p>
            </div>
            <div class="col-paypal">
              <p>
                <a href="https://www.paypal.com/signin" target="_blank"
                  >Proceed to PayPal</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </ng-container>

    <!-- Payment with Multibank reference -->
    <ng-container
      *ngIf="cart.paymentMethod === 'Bank Transfer' && cart && cart.clientInfo"
    >
      <div class="card mt-3 mx-auto" id="multibanco">
        <div class="card-header text-bg-primary">
          <h5 class="mb-0">Payment details</h5>
        </div>
        <div class="card-body">
          <!-- Novos campos adicionados -->
          <div class="row mt-3">
            <div class="col mr-40px">
              <ng-container *ngIf="cart.clientInfo">
                <div class="input-group">
                  <span class="input-group-text">
                    Points per {{ currencyPer10Points }}
                    {{ preferredCurrencySymbol }}
                  </span>
                  <input type="text" class="form-control" value="10" disabled />
                </div>
              </ng-container>
            </div>

            <div class="col mr-40px">
              <ng-container *ngIf="cart.clientInfo">
                <div class="input-group">
                  <span class="input-group-text">Current Points</span>
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="cart.clientInfo.currentPoints"
                    disabled
                  />
                </div>
              </ng-container>
            </div>

            <div class="col">
              <div class="form-check form-switch">
                <input
                  class="form-check-input"
                  type="checkbox"
                  role="switch"
                  id="flexSwitchCheckDefault"
                  [(ngModel)]="appliedDiscount"
                />
                <label class="form-check-label" for="flexSwitchCheckDefault"
                  >Apply Discount</label
                >
              </div>
            </div>
          </div>

          <div class="row align-items-center">
            <!-- Imagem do Multibanco -->
            <div class="col-auto">
              <img
                src="assets/images/refer_multibanco1.png"
                alt="Multibanco Logo"
                class="multibanco-logo"
              />
            </div>
            <!-- Mensagem ao cliente -->
            <div class="col">
              <p class="mb-0">
                Please pay the amount indicated below,through the Multibanco or
                Homebanking application, using the following data: Payment must
                be made within the next 8 hours, otherwise your order will be
                void.
              </p>
            </div>
          </div>

          <!-- Detalhes de pagamento -->
          <div class="payment-info mt-3">
            <p>
              <strong>Entity:</strong>
              <span class="random-entity"> {{ generateRandomNumber(5) }}</span>
            </p>
            <p>
              <strong>Reference:</strong>
              <span class="random-reference">
                {{ generateRandomNumber(9) }}</span
              >
            </p>
            <p>
              <strong>Value to be paid:</strong>
              <span class="payment-amount">
                {{ this.cart ? this.cart.totalValueWithDiscount : 0 }}
                {{ this.preferredCurrencySymbol }}</span
              >
            </p>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="page4">
    <div class="thank-you-message mx-auto">
      <h3>Thank You for Your Purchase!</h3>
      <p>We appreciate your business and hope you enjoy your products.</p>
      <p>
        Your delivery will be made within a maximum period of 8 days to the
        address defined by you. If there is a problem with delivery or the
        product, please feel free to contact us and resolve your issue.
      </p>
      <p class="contact-info">
        If you have any questions, you can send an email to:
        <a href="mailto:ArtesaniMarketplace@gmail.com"
          >ArtesaniMarketplace&#64;gmail.com</a
        >
        or contact us via telephone: <strong>210 345 789</strong>
      </p>
    </div>
  </ng-container>
</div>
