:root {
  --line-width: 0px;
}

.circle {
  width: 130px; /* Adjust the size of the circles as needed */
  height: 130px;
  background-color: rgb(210, 208, 208);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6em; /* Adjust the font size of the tick icon */
  margin-right: 10px;
  position: relative;
  transition: background-color 0.1s ease-in-out;
}

.circle::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  height: 5px; /* Adjust the thickness of the line */
  width: var(--line-width); /* Adjust the length of the line */
  background-color: rgb(210, 208, 208);
  transform: translateY(-50%);
  transition: background-color 0.3s ease-in-out;
  transition-delay: 0.1s;
}

.circle > i {
  color: rgb(210, 208, 208);
}

.circle:last-child::after {
  content: none; /* Hide the line in front of the last circle */
}

.active {
  background-color: green;
  transition: background-color 0.1s ease-in-out;
  transition-delay: 0.3s;
}

.active > i {
  color: white;
  transition: color 0.1s ease-in-out;
  transition-delay: 0.3s;
}

.progress {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 150px;
  width: 100%;
  margin-top: 20px;
  background-color: white;
  padding-left: 15%;
  padding-right: 15%;
}


.circle:first-child::before {
  content: none; /* Hide the line behind the first circle */
}

.button-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fixed-top-left {
  position: static; /* Reset the position */
  transform: none; /* Reset the transform */
  padding: 10px 0; /* Add some vertical padding */
  margin-bottom: 10px;
  text-align: center; /* Center the text */
}

.circle.active.next-active::after {
  background-color: green;
  transition: background-color 0.5s ease-in-out;
}

.container {
  margin: 50px auto;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  padding: 15px;
}

.cart-items {
  border: 1px solid #ddd;
  border-radius: 10px;
  margin: 0px 100px 0px  100px;
}

.cart-item-wrapper {
  display: flex;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  background-color: #f8f9fa; /* Adjusted color */
}

.cart-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 40px; /* Adjusted spacing between left and right sections */
}

.cart-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.cart-product {
  color: #333;
  text-decoration: none;
}

.cart-thumb {
  border-radius: 10px;
  width: 170px;
  height: auto;
  vertical-align: middle;
  max-width: 100%;
  box-sizing: border-box;
}

.price {
  color: #007bff;
  font-weight: bold;
}

.row {
  width: 100% !important;
  text-align: center;
}

.col {
  width: 120px !important;
  padding-left: 0;
  padding-right: 0;
}

.centerInfoText {
  margin-left: 0px !important;
}

.mt-20px {
  margin-top: 20px;
}

.ml-20px {
  margin-left: 20px;
}

.mr-40px {
  margin-right: 40px;
}

.mr-0 {
  margin-right: 0;
}

.ml-0 {
  margin-left: 0;
}

.pr-40px {
  padding-right: 40px;
}

.pl-0 {
  padding-left: 0;
}

.lnr-cross {
  color: #dc3545;
  cursor: pointer;
  font-size: 24px;
  margin-left: 10px; /* Spacing between "X" and the section to the left */
}

.custom-button {
  background-color: #28a745;
  border-color: #28a745;
  color: #fff;
  margin-top: 10px;
}

.custom-button:hover {
  background-color: #218838;
  border-color: #1e7e34;
}

.custom-card {
  width: 600px;
}

#creditCard {
  width: 750px;
}

.custom-select {
  width: 240px !important;
}

#selectText {
  text-align: center;
}

.card {
  width: 80%;
  margin: 20px auto;
  background-color: #fff;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}

.card-header {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  text-align: center;
  font-size: 1.3em;
}

.card-body {
  padding: 20px;
}

.input-group {
  margin-bottom: 15px;
}

.input-group-text {
  background-color: #007bff;
  color: #ffffffe8;
  border: none;
  flex: 0.3; /* Defina o tamanho desejado aqui */
  max-width: 100%; /* Certifique-se de não ultrapassar 100% da largura do contêiner pai */
}

.form-control {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
}

.larger-dot {
  display: inline-block;
  margin: 0 5px; /* Ajusta a margem para espaçamento */
  font-size: 1.5em; /* Ajusta o tamanho da fonte para um ponto maior */
  vertical-align: middle;
}

.thank-you-message {
  width: 500px;
  text-align: center;
  position: relative;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.thank-you-message h3 {
  color: rgb(233, 156, 46);
}

.contact-info {
  margin-top: 20px;
  font-size: 16px;
}

.contact-info a {
  color: rgb(233, 156, 46);
  text-decoration: none;
  font-weight: bold;
}

.contact-info strong {
  color: rgb(233, 156, 46);
}


.mbway-logo {
  max-width: 200px; /* Ajuste conforme necessário */
  height: auto;
  margin-right: 10px; /* Adiciona um espaçamento à direita da imagem */
}

#multibanco {
  max-width: 1000px;
  margin: 0 auto;
  border: 1px solid #e2e2e2;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.multibanco-logo {
  max-width: 100%;
}

.payment-info {
  margin-top: 20px;
  text-align: center;
}

.random-entity,
.random-reference,
.payment-amount {
  font-weight: bold;
}

#paypal {
  max-width: 1000px;
  margin: 0 auto;
  border: 1px solid #e2e2e2;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* Additional styles for the link */
a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.paypal-logo {
  max-width: 80%;
  height: auto; /* Garante que a proporção seja mantida */
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 1000px) {
  .circle {
    width: 130px; /* Adjust the size of the circles as needed */
    height: 130px;
    background-color: rgb(210, 208, 208);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6em; /* Adjust the font size of the tick icon */
    margin-right: 10px;
    position: relative;
  }

  .circle::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    height: 5px; /* Adjust the thickness of the line */
    width: var(--line-width); /* Adjust the length of the line */
    background-color: rgb(210, 208, 208);
    transform: translateY(-50%);
  }

  .circle > i {
    color: rgb(210, 208, 208);
  }

  .circle:last-child::after {
    content: none; /* Hide the line in front of the last circle */
  }

  .active {
    background-color: green;
  }

  .active > i {
    color: white;
  }

  .progress {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Align circles to the top */
    height: 150px;
    width: 100%;
    margin-top: 20px;
    background-color: white;
    padding-left: 130px;
    padding-right: 100px;
  }

  .fixed-top-left {
    position: static; /* Reset the position */
    transform: none; /* Reset the transform */
    padding: 10px 0; /* Add some vertical padding */
    text-align: center; /* Center the text */
  }

  .fixed-top-left .button-group {
    flex-direction: column; /* Stack the buttons vertically */
    margin-top: 10px; /* Add some spacing between the total value and the buttons */
  }
}


@media screen and (max-width: 767px) {
  .product-details {
    flex-direction: column;
  }

  .product-image,
  .product-info {
    max-width: 100%;
  }

  .cart-item {
    display: flex;
    flex-direction: column; /* Stack items vertically on smaller screens */
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    padding: 15px;
  }

  .cart-item-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    background-color: #f8f9fa; /* Adjusted color */
  }

  .aboveQuantityControls {
    margin-left: 0; /* Remove margin for smaller screens */
  }

  .cart-thumb {
    border-radius: 10px;
    width: 100%; /* Adjusted image width for smaller screens */
    height: auto; /* Maintain aspect ratio */
  }

  .cart-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0; /* Remove margin for smaller screens */
    margin-bottom: 10px; /* Add margin between image and button */
  }

  .cart-right {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content on smaller screens */
  }

  .cart-product {
    text-align: center; /* Center text on smaller screens */
  }

  .cart-product h6 {
    margin-bottom: 5px; /* Add spacing between product name and typeOfMaterialMade */
  }

  .price {
    color: #007bff;
    font-weight: bold;
    margin-top: 5px; /* Add spacing between quantity/price and "X" */
  }

  .lnr-cross {
    color: #dc3545;
    cursor: pointer;
    font-size: 24px;
    margin-left: 0; /* Remove margin for smaller screens */
    margin-top: 15px; /* Add spacing between quantity/price and "X" */
    margin-left: 70px;
  }

  .custom-button {
    background-color: #28a745;
    border-color: #28a745;
    color: #fff;
    margin-top: 10px;
  }

  .custom-button:hover {
    background-color: #218838;
    border-color: #1e7e34;
  }

  .row {
    width: 100% !important;
    text-align: center;
  }

  .col {
    padding-left: 0;
    padding-right: 0;
    margin-top: 0px;
  }

  .centerInfoText {
    margin-left: 102px !important;
  }

  .progress {
    padding-left: 10px;
    padding-right: 10px;
    height: 90px;
  }

  .button-group {
    flex-direction: column;
    align-items: center;
  }

  .circle {
    width: 90px; /* Adjust the size of the circles as needed */
    height: 90px;
    font-size: 4em;
  }

  .centerInfoText {
    margin-left: 0 !important;
  }

  .cart-item {
    padding: 10px;
  }

  .cart-item-wrapper {
    padding: 10px;
  }

  .price {
    margin-top: 5px;
  }

  .fixed-top-left {
    position: static; /* Reset the position */
    transform: none; /* Reset the transform */
    padding: 10px 0; /* Add some vertical padding */
    text-align: center; /* Center the text */
  }

  .fixed-top-left .button-group {
    flex-direction: column; /* Stack the buttons vertically */
    margin-top: 10px; /* Add some spacing between the total value and the buttons */
  }

  .fixed-top-left .button-group .btn {
    margin-bottom: 10px; /* Add some spacing between the buttons */
  }

  .card {
    width: 90%;
  }
}

@media screen and (max-width: 520px) {
  .product-details {
    flex-direction: column;
  }

  .product-image,
  .product-info {
    max-width: 100%;
  }

  .cart-item {
    display: flex;
    flex-direction: column; /* Stack items vertically on smaller screens */
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    padding: 15px;
  }

  .cart-item-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    background-color: #f8f9fa; /* Adjusted color */
  }

  .aboveQuantityControls {
    margin-left: 0; /* Remove margin for smaller screens */
  }

  .cart-thumb {
    border-radius: 10px;
    width: 100%; /* Adjusted image width for smaller screens */
    height: auto; /* Maintain aspect ratio */
  }

  .cart-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0; /* Remove margin for smaller screens */
    margin-bottom: 10px; /* Add margin between image and button */
  }

  .cart-right {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content on smaller screens */
  }

  .cart-product {
    text-align: center; /* Center text on smaller screens */
  }

  .cart-product h6 {
    margin-bottom: 5px; /* Add spacing between product name and typeOfMaterialMade */
  }

  .price {
    color: #007bff;
    font-weight: bold;
    margin-top: 5px; /* Add spacing between quantity/price and "X" */
  }

  .lnr-cross {
    color: #dc3545;
    cursor: pointer;
    font-size: 24px;
    margin-left: 0; /* Remove margin for smaller screens */
    margin-top: 15px; /* Add spacing between quantity/price and "X" */
    margin-left: 70px;
  }

  .custom-button {
    background-color: #28a745;
    border-color: #28a745;
    color: #fff;
    margin-top: 10px;
  }

  .custom-button:hover {
    background-color: #218838;
    border-color: #1e7e34;
  }

  .row {
    width: 100% !important;
    text-align: center;
  }

  .col {
    padding-left: 0;
    padding-right: 0;
    margin-top: 0px;
  }

  .centerInfoText {
    margin-left: 102px !important;
  }

  .progress {
    padding-left: 10px;
    padding-right: 10px;
  }

  .button-group {
    flex-direction: column;
    align-items: center;
  }

  .circle {
    width: 60px; /* Adjust the size of the circles as needed */
    height: 60px;
    font-size: 2em;
  }

  .centerInfoText {
    margin-left: 0 !important;
  }

  .cart-item {
    padding: 10px;
  }

  .cart-item-wrapper {
    padding: 10px;
  }

  .price {
    margin-top: 5px;
  }

  .progress {
    height: 60px;
  }

  .fixed-top-left {
    position: static; /* Reset the position */
    transform: none; /* Reset the transform */
    padding: 10px 0; /* Add some vertical padding */
    text-align: center; /* Center the text */
  }

  .fixed-top-left .button-group {
    flex-direction: column; /* Stack the buttons vertically */
    margin-top: 10px; /* Add some spacing between the total value and the buttons */
  }

  .fixed-top-left .button-group .btn {
    margin-bottom: 10px; /* Add some spacing between the buttons */
  }

  .thank-you-message {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .thank-you-message h3 {
    color: rgb(233, 156, 46);
}


}