/* Estilo para a lista de produtos */
.product-list {
  display: flex;
  flex-direction: column;
}

/* Estilo para cada item de produto na lista */
.product-item {
  display: flex;
  align-items: flex-start;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

/* Estilo para a imagem do produto */
.product-image {
  width: 250px;
  height: auto;
  margin-right: 20px;
  margin-top: 15px;
  border-radius: 8px;
}

/* Estilo para a informação do produto */
.product-info {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Estilo para o nome do produto */
.product-name {
  font-size: 1.6em;
  font-weight: bold;
  color:  #e99c2e;
  margin-bottom: 10px;
}

/* Estilo para os detalhes do produto */
.details {
  display: flex;
  flex-direction: column; /* Alterado para coluna para separar os detalhes em linhas */
  width: 100%;
}

/* Estilo para os parágrafos de detalhes */
.details p {
  margin: 5px 0;
}

/* Estilo para partes em destaque nos detalhes */
.details p strong {
  margin-right: 10px;
}

/* Estilo para o preço do produto */
.price {
  font-size: 1.2em;
  color: green;
  margin-left: auto; /* Move o preço para a direita (alinhamento à direita) */
}





