<div class="content">
  <div class="product-list">
    <div
      *ngFor="let product of productArray"
      class="product-item"
      (click)="navigateTo('product', product.id)"
    >
      <img
        src="https://localhost:7204{{ product.imagePath }}"
        alt="{{ product.name }}"
        class="product-image"
      />
      <div class="product-info">
        <h3 class="product-name">{{ product.name }}</h3>
        <div class="details">
          <p><strong>Category:</strong> {{ product.category }}</p>
          <p>
            <strong>Height:</strong> {{ product.height }}
            <strong>Width:</strong> {{ product.width }}
            <strong>Material:</strong> {{ product.typeOfMaterialMade }}
          </p>
          <p>
            <strong>Washing Instructions:</strong>
            {{ product.washingInstructions }}
          </p>
          <p class="price">
            <strong
              >Price: {{ product.individualPrice }}
              {{ preferredCurrencySymbol }}</strong
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
