* {
  padding: 0;
  margin: 0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #a09e9c;
  background: #fff;
  text-transform: capitalize;
  max-width: 1920px;
  margin: 0 auto;
  overflow-x: hidden;
}

.active {
  color: #e99c2e !important;
}

a,
a:hover,
a:active,
a:focus {
  display: inline-block;
  text-decoration: none;
  color: #616060;
  font-size: 20px;
  padding: 0;
  font-weight: 500;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: #5f5b57;
  font-size: 18px;
  font-weight: 500;
}
p {
  margin: 0;
  color: #a09e9c;
  font-size: 16px;
  line-height: 1.8;
}
img {
  border: none;
  max-width: 100%;
  height: auto;
}
ul {
  padding: 0;
  margin: 0 auto;
  list-style: none;
}
ul li {
  list-style: none;
}
select,
input,
textarea,
button {
  box-shadow: none;
  outline: 0 !important;
}
button {
  background: transparent;
  border: 0;
}

html,
body {
  height: 100%;
}

[placeholder]:focus::-webkit-input-placeholder {
  -webkit-transition: opacity 0.3s 0.3s ease;
  -moz-transition: opacity 0.3s 0.3s ease;
  -ms-transition: opacity 0.3s 0.3s ease;
  -o-transition: opacity 0.3s 0.3s ease;
  transition: opacity 0.3s 0.3s ease;
  opacity: 0;
}

/* section-header */
.section-header {
  position: relative;
  text-align: center;
}
.section-header h2 {
  font-size: 30px;
  font-weight: 500;
}
.section-header h2 span {
  text-transform: lowercase;
}
/* section-header */

/*=============Style css=========*/

/*-------------------------------------
        2. Top-area
--------------------------------------*/
nav.navbar.bootsnav {
  background-color: transparent;
  border-bottom: transparent;
}
.wrap-sticky nav.navbar.bootsnav.sticked {
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
/*.navbar-brand*/
.navbar-header a.navbar-brand,
.navbar-header a.navbar-brand:hover,
.navbar-header a.navbar-brand:focus {
  display: inline-block;
  color: #616060;
  font-size: 24px;
  font-weight: 500;
  padding: 45px 0px;
  text-transform: capitalize;
}
.navbar-header a.navbar-brand span {
  display: inline-block;
  color: #e99c2e;
  text-transform: capitalize;
}

.wrap-sticky nav.navbar.bootsnav.sticked .navbar-header a.navbar-brand,
.wrap-sticky nav.navbar.bootsnav.sticked .navbar-header a.navbar-brand:hover,
.wrap-sticky nav.navbar.bootsnav.sticked .navbar-header a.navbar-brand:focus {
  padding: 30px 0px;
}
/*.navbar-brand*/

/*.nav li*/
nav.navbar.bootsnav ul.nav > li > a {
  color: #616060;
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -ms-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
}
nav.navbar.bootsnav ul.nav > li > a {
  padding: 48px 25px;
}
nav.navbar.bootsnav ul.nav > li > a:hover,
nav.navbar.bootsnav ul.nav > li > a:focus {
  color: #e99c2e;
}
nav.navbar.bootsnav ul.nav > li.active > a {
  color: #e99c2e;
}

nav.navbar.bootsnav ul.nav > li.dropdown > a.dropdown-toggle:after {
  content: "";
}
nav.navbar.bootsnav ul.nav > li.dropdown span {
  font-size: 8px;
  margin-left: 15px;
}
.wrap-sticky nav.navbar.bootsnav.sticked ul.nav > li > a {
  padding: 30px 25px;
}
/*.nav li*/

/*.menu-ui-design*/
.menu-ui-design {
  overflow-y: scroll;
  height: 350px;
}
.menu-ui-design::-webkit-scrollbar {
  width: 5px;
}
.menu-ui-design::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 8px #000;
}
.menu-ui-design::-webkit-scrollbar-thumb {
  background-color: #e99c2e;
}
/*.menu-ui-design*/

/*.attr-nav*/
.attr-nav {
  position: relative;
  top: 5px;
}
.attr-nav > ul > li > a {
  color: #616060;
  padding: 44px 15px;
  font-size: 18px;
  font-weight: 500;
}
.attr-nav > ul > li > a:hover {
  color: #e99c2e;
}
.wrap-sticky nav.navbar.bootsnav.sticked .attr-nav > ul > li > a {
  padding: 28px 15px;
}
/*.attr-nav*/

/*badge*/
.badge {
  background-color: #e99c2e;
  border: 2px solid #e99c2e;
}
.attr-nav > ul > li > a span.badge {
  margin-top: -20px !important;
  width: 20px;
  height: 20px;
  font-size: 9px !important;
}
/*.badge*/

/*.navbar-toggle */
nav.navbar.bootsnav .navbar-toggle {
  position: relative;
  background-color: transparent;
  border: 1px solid #e99c2e;
  padding: 10px;
  top: 0;
}
nav.navbar.bootsnav .navbar-toggle i {
  color: #e99c2e;
}
/*.navbar-toggle */

/*.cart-list*/
ul.dropdown-menu.cart-list {
  height: 232px;
  overflow-y: scroll;
  border-radius: 3px;
}
ul.cart-list > li img {
  width: 50px;
  height: 50px;
  border: transparent;
}
.s-cate::-webkit-scrollbar {
  width: 5px;
}
.s-cate::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 8px #000;
}
.s-cate::-webkit-scrollbar-thumb {
  background-color: #e99c2e;
}

.single-cart-list {
  position: relative;
  display: flex;
}
ul.cart-list > li {
  border-bottom: solid 1px #ebebeb;
  padding: 20px !important;
}
ul.cart-list > li:last-child {
  border-bottom: 0;
}
.attr-nav ul.cart-list > li > a:hover {
  border-left: 2px solid transparent !important;
}
.dropdown-menu.cart-list h6 a {
  color: #43465d;
  font-size: 12px;
  line-height: 1.3;
}
.cart-list-txt p {
  font-size: 12px;
  font-weight: 300;
  line-height: 1.8;
}
ul.cart-list > li .price {
  font-weight: 300;
}
.cart-close {
  position: absolute;
  top: 10px;
  right: 14px;
  cursor: pointer;
}
ul.cart-list > li.total > span {
  padding-top: 0px;
  position: relative;
  top: 4px;
}
ul.cart-list > li.total span {
  color: #43465d;
  font-size: 14px;
  font-weight: 500;
}
ul.cart-list > li.total {
  background-color: #fff;
  padding-bottom: 20px !important;
}
.btn-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e99c2e;
  border: 1px solid #e99c2e;
  width: 80px;
  height: 30px;
  white-space: nowrap;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  text-transform: capitalize;
  border-radius: 3px;
}
/*.cart-list*/

/*.packages-price */
.packages-price p {
  position: relative;
  color: #616060;
  font-size: 16px;
  font-weight: 500;
}
.packages-price del,
.packages-price span {
  color: #bbb9b9;
  font-size: 16px;
  font-weight: 500;
}
.packages-price del {
  margin-left: 10px;
}

/*-------------------------------------
        11. Footer
--------------------------------------*/
.footer {
  background: #f8f9fd;
  display: flex;
  align-items: center;
  height: 154px;
}
.hm-footer-copyright p,
.hm-footer-copyright p a {
  color: #a5adb3;
  font-size: 14px;
  font-weight: 400;
}
.footer-social a i {
  color: #a4aaaf;
  margin: 0 18px 24px 0;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.footer-social i:hover {
  color: #e99c2e;
}

/*===============================
    Scroll Top
===============================*/
#scroll-Top .return-to-top {
  position: fixed;
  right: 30px;
  bottom: 30px;
  display: none;
  width: 40px;
  line-height: 40px;
  height: 40px;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  color: #fff;
  background: #e99c2e;
  border: 1px solid #e99c2e;
  border-radius: 50%;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  z-index: 2;
}
#scroll-Top .return-to-top:hover {
  background: #fff;
  color: #e99c2e;
  border: 1px solid #e99c2e;
}

#scroll-Top .return-to-top i {
  position: relative;
  bottom: 0;
}

#scroll-Top .return-to-top i {
  position: relative;
  animation-name: example;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}
@keyframes example {
  0% {
    bottom: 0px;
  }
  100% {
    bottom: 7px;
  }
}
