<!--welcome-hero start -->
<header id="home" class="welcome-hero">
  <!-- top-area Start -->
  <div class="top-area">
    <div class="header-area">
      <!-- Start Navigation -->
      <nav
        class="navbar navbar-default bootsnav navbar-sticky navbar-scrollspy"
        data-minus-value-desktop="70"
        data-minus-value-mobile="55"
        data-speed="1000"
      >
        <!-- Start Top Search -->
        <div class="top-search">
          <div class="container">
            <div class="input-group">
              <span class="input-group-addon"
                ><i class="fa fa-search"></i
              ></span>
              <div class="input-group">
                <input
                  type="search"
                  class="form-control"
                  placeholder="Search"
                  id="searchBar"
                  aria-label="Search"
                  [(ngModel)]="searchTerm"
                  (keyup.enter)="onEnter($event)"
                />
              </div>
              <span class="input-group-addon close-search"
                ><i class="fa fa-times"></i
              ></span>
            </div>
          </div>
        </div>
        <!-- End Top Search -->

        <div class="container">
          <!-- Start Atribute Navigation -->
          <div class="attr-nav positioning">
            <ul>
              <li class="search">
                <a href="#"><span class="lnr lnr-magnifier"></span></a>
              </li>
              <!--/.search-->
              <li class="nav-setting scroll">
                <a href="#user" (click)="navigateTo('client/view')"
                  ><span class="lnr lnr-user"></span
                ></a>
              </li>
              <!--/.search-->
              <li class="dropdown">
                <ng-container *ngIf="isMobile">
                  <a class="dropdown-toggle" data-toggle="dropdown">
                    <span class="lnr lnr-cart"></span>
                    <span class="badge text-bg-secondary">
                      {{
                        cart
                          ? cart.products.length != 0
                            ? cart.products.length
                            : 0
                          : 0
                      }}</span
                    >
                  </a>
                </ng-container>
                <ng-container *ngIf="!isMobile">
                  <a
                    href="#cart"
                    (click)="navigateTo('cart')"
                    class="dropdown-toggle"
                    data-toggle="dropdown"
                  >
                    <span class="lnr lnr-cart"></span>
                    <span class="badge text-bg-secondary">
                      {{
                        cart
                          ? cart.products.length != 0
                            ? cart.products.length
                            : 0
                          : 0
                      }}</span
                    >
                  </a>
                </ng-container>
                <ul class="dropdown-menu cart-list s-cate" id="cartDropdown">
                  <div *ngIf="cart">
                    <div *ngFor="let cartProduct of cart.products">
                      <li class="single-cart-list">
                        <a
                          (click)="
                            navigateTo('product', cartProduct.product.id)
                          "
                          class="photo cart-product"
                          ><img
                            src="https://localhost:7204{{
                              cartProduct.product.imagePath
                            }}"
                            [width]="120"
                            [height]="120"
                            class="cart-thumb"
                            alt="image"
                        /></a>
                        <div class="cart-list-txt" style="margin-left: 20px">
                          <h6>
                            <a
                              (click)="
                                navigateTo('product', cartProduct.product.id)
                              "
                              class="cart-product"
                              >{{ cartProduct.product.name }} <br />
                              {{ cartProduct.product.typeOfMaterialMade }}</a
                            >
                          </h6>
                          <p>
                            {{
                              cartProduct.quantityBought
                                ? cartProduct.quantityBought
                                : 1
                            }}
                            x -
                            <span class="price"
                              >{{ cartProduct.product.individualPrice }}
                              {{ this.preferredCurrencySymbol }}</span
                            >
                          </p>
                        </div>
                        <!--/.cart-list-txt-->
                        <div class="cart-close">
                          <span
                            class="lnr lnr-cross"
                            (click)="removeProductFromCart(cartProduct)"
                          ></span>
                        </div>
                        <!--/.cart-close-->
                      </li>
                    </div>
                  </div>
                  <li class="total">
                    <span
                      >Total: {{ cart.totalValue }}
                      {{ this.preferredCurrencySymbol }}</span
                    >
                    <button
                      class="btn-cart pull-right"
                      (click)="navigateTo('cart')"
                    >
                      view cart
                    </button>
                  </li>
                </ul>
              </li>
              <!--/.dropdown-->
            </ul>
          </div>
          <!--/.attr-nav-->
          <!-- End Atribute Navigation -->

          <!-- Start Header Navigation -->
          <div class="navbar-header">
            <button
              type="button"
              class="navbar-toggle"
              data-toggle="collapse"
              data-target="#navbar-menu"
            >
              <i class="fa fa-bars"></i>
            </button>
            <a
              class="navbar-brand"
              style="cursor: pointer"
              (click)="navigateTo('')"
              >artisani</a
            >
          </div>
          <!--/.navbar-header-->
          <!-- End Header Navigation -->

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse menu-ui-design" id="navbar-menu">
            <ul
              class="nav navbar-nav navbar-center"
              data-in="fadeInDown"
              data-out="fadeOutUp"
            >
              <li class="scroll" id="homeLi">
                <a href="#home" (click)="navigateTo('')">home</a>
              </li>
              <li class="scroll" id="products">
                <a href="#new-arrivals" (click)="navigateTo('products')"
                  >products</a
                >
              </li>
              <li class="scroll" id="featured">
                <a href="#featured" (click)="navigateTo('exclusive-products')"
                  >Exclusive Products</a
                >
              </li>
              <li class="scroll" id="aboutUs">
                <a href="#aboutUs" (click)="navigateTo('about-us')">about us</a>
              </li>
            </ul>
            <!--/.nav -->
          </div>
          <!-- /.navbar-collapse -->
        </div>
        <!--/.container-->
      </nav>
      <!--/nav-->
      <!-- End Navigation -->
    </div>
    <!--/.header-area-->
    <div class="clearfix"></div>
  </div>
</header>
<!--/.welcome-hero-->
<!--welcome-hero end -->
