.container {
  margin: 50px auto;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  padding: 15px;
}

.cart-item-wrapper {
  display: flex;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  background-color: #f8f9fa; /* Adjusted color */
}

.cart-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 40px; /* Adjusted spacing between left and right sections */
}

.cart-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.cart-product {
  color: #333;
  text-decoration: none;
}

.cart-thumb {
  border-radius: 10px;
  width: 120px;
  height: auto;
  vertical-align: middle;
  max-width: 100%;
  box-sizing: border-box;
}

.price {
  color: #007bff;
  font-weight: bold;
}

.row {
  width: 100% !important;
  text-align: center;
}

.centerInfoText {
  margin-left: 70px !important;
}

.lnr-cross {
  color: #dc3545;
  cursor: pointer;
  font-size: 24px;
  margin-left: 10px; /* Spacing between "X" and the section to the left */
}

.input-group-text {
  background-color: #007bff;
  color: #fff;
}

.custom-button {
  background-color: #28a745;
  border-color: #28a745;
  color: #fff;
}

.custom-button:hover {
  background-color: #218838;
  border-color: #1e7e34;
}

@media screen and (max-width: 768px) {
  .product-details {
    flex-direction: column;
  }

  .product-image,
  .product-info {
    max-width: 100%;
  }

  .cart-item {
    display: flex;
    flex-direction: column; /* Stack items vertically on smaller screens */
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    padding: 15px;
  }

  .cart-item-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    background-color: #f8f9fa; /* Adjusted color */
  }

  .aboveQuantityControls {
    margin-left: 0; /* Remove margin for smaller screens */
  }

  .cart-thumb {
    border-radius: 10px;
    width: 80%; /* Adjusted image width for smaller screens */
    height: auto; /* Maintain aspect ratio */
  }

  .cart-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0; /* Remove margin for smaller screens */
    margin-bottom: 10px; /* Add margin between image and button */
  }

  .cart-right {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content on smaller screens */
  }

  .cart-product {
    text-align: center; /* Center text on smaller screens */
  }

  .cart-product h6 {
    margin-bottom: 5px; /* Add spacing between product name and typeOfMaterialMade */
  }

  .price {
    color: #007bff;
    font-weight: bold;
    margin-top: 5px; /* Add spacing between quantity/price and "X" */
  }

  .lnr-cross {
    color: #dc3545;
    cursor: pointer;
    font-size: 24px;
    margin-left: 0; /* Remove margin for smaller screens */
    margin-top: 15px; /* Add spacing between quantity/price and "X" */
    margin-left: 70px;
  }

  .input-group-text {
    background-color: #007bff;
    color: #fff;
  }

  .custom-button {
    background-color: #28a745;
    border-color: #28a745;
    color: #fff;
    margin-top: 10px;
  }

  .custom-button:hover {
    background-color: #218838;
    border-color: #1e7e34;
  }

  .row {
    width: 100% !important;
    text-align: center;
  }

  .col {
    padding-left: 0;
    padding-right: 0;
  }

  .centerInfoText {
    margin-left: 102px !important;
  }
}
