<div class="content">
  <div
    class="alert alert-danger fade show"
    role="alert"
    id="errorQuantity"
    [hidden]="!quantityInvalid"
  >
    <strong>Invalid Quantity!</strong> Please type a number between 1 and 10.
    <button
      type="button"
      class="btn-close float-end"
      (click)="quantityInvalid = false"
    ></button>
  </div>

  <div
    class="alert alert-danger fade show"
    role="alert"
    id="errorInsufficientStock"
    [hidden]="!insufficientStock"
  >
    <strong>Insufficient Stock!</strong> The quantity you requested exceeds the
    available stock.
    <button
      type="button"
      class="btn-close float-end"
      (click)="insufficientStock = false"
    ></button>
  </div>
  <div class="row">
    <div class="col">
      <button
        class="btn btn-success custom-button"
        (click)="navigateTo('cart/checkout')"
      >
        Proceed to Checkout
      </button>
    </div>
    <div class="col">
      <h3 style="font-family: Roboto, sans-serif">
        Total Without Discount:
        {{ cart.totalValue ? cart.totalValue : 0 }}
        {{ this.preferredCurrencySymbol }}
      </h3>
    </div>
  </div>
  <div class="container">
    <div *ngFor="let cartProduct of cart.products" class="cart-item">
      <div class="cart-item-wrapper">
        <div class="col">
          <div class="row-6">
            <a
              (click)="navigateTo('product', cartProduct.product.id)"
              class="photo cart-product"
              ><img
                src="https://localhost:7204{{ cartProduct.product.imagePath }}"
                [width]="120"
                [height]="120"
                class="cart-thumb img-fluid"
                alt="image"
            /></a>
          </div>
          <div class="row-6">
            <div class="input-group">
              <span class="input-group-text">Change Quantity In Cart</span>
              <input
                type="number"
                id="quantity"
                name="quantity#{{ cartProduct.product.id }}"
                [(ngModel)]="quantities[cartProduct.product.id]"
                class="form-control input-number"
                min="1"
                max="100"
              />
            </div>
          </div>
        </div>
        <div class="cart-right">
          <div class="row">
            <div class="col centerInfoText">
              <h6>
                <a
                  (click)="navigateTo('product', cartProduct.product.id)"
                  class="cart-product"
                >
                  {{ cartProduct.product.name }} <br />
                  {{ cartProduct.product.typeOfMaterialMade }}
                </a>
              </h6>
              <p>
                {{
                  cartProduct.quantityBought ? cartProduct.quantityBought : 1
                }}
                x -
                <span class="price"
                  >{{ cartProduct.product.individualPrice }}
                  {{ this.preferredCurrencySymbol }}</span
                >
              </p>
            </div>

            <div class="col">
              <span
                class="lnr lnr-cross"
                (click)="removeProductFromCart(cartProduct)"
              ></span>
            </div>
          </div>

          <div class="btn btn-success custom-button">
            <button
              style="color: white"
              (click)="
                updateQuantity(
                  quantities[cartProduct.product.id],
                  cartProduct.product.id
                )
              "
            >
              Update Quantity
            </button>
          </div>
        </div>
      </div>
      <!-- This closing tag was missing -->
    </div>
  </div>
</div>
