<body>
    <header>
        <img src="assets/images/coco.png" alt="Company Header Image">
    </header>

    <section class="about">
        <h2>About Artisani</h2>
        <p >Welcome to our online store!</p>
        <p>
            Artisani was exclusively designed and designed for those passionate about crafts. We are fascinated by bringing you unique crafts, handmade with great care and quality of production and materials, in addition to presenting exclusive pieces from around the world.
            Here you can find all kinds of pieces made by creative artisans who give free rein to their imagination to design unbelievably beautiful products.
            Our mission is to provide unique, high-quality products that showcase the art and craftsmanship of talented artisans around the world.
            At Artisani, we are committed to offering a delightful shopping experience and supporting local artisans to expand their products and create a business through the production of their pieces. Our goal is to connect customers with beautiful, handcrafted items while promoting sustainability and preservation of traditional crafts.
        </p>
        <p>
            We hope you have an excellent shopping experience through Artisani and that you find products that really fascinate you and want to purchase. We hope to be of assistance to you and thank you for your visit.
        </p>
        <p>
            Artisani is an exclusively online store, we do not have a physical store, however we are committed to getting your orders to their destination without any damage and within the deadline determined depending on the region where you live. If the product arrives defective or damaged, you must contact Artisani via email and we will refund your money and return the item. For more information, contact them via email or phone and ask your questions.
        </p>
        <h3>Our Values</h3>
        <ul>
            <li>Quality craftsmanship</li>
            <li>Supporting local artisans</li>
            <li>Promotion of exclusive pieces</li>
            <li>Promotion of high quality parts</li>
            <li>Sustainability</li>
            <li>Customer satisfaction</li>
        </ul>
    </section>

    <section class="contact">
        <h2>Contact Us</h2>
        <p>
            For any inquiries or assistance, feel free to reach out to us:
        </p>
        <p>Email: ArtesaniMarketplace@gmail.com</p>
        <p>Phone: +351 210 345 789</p>
    </section>
</body>


