body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header img {
    width: 100%;
    max-height: 700px; 
    height: auto;
}

.about, .contact {
    width: 100%;
    max-width: 100%;
    margin: 20px 0;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 8px;
    box-sizing: border-box; 
}

.about h2, .contact h2, .about h3 {
    color: rgb(233, 156, 46);
    text-align: center;
}

.about p {
    color: #555;
}

.contact p {
    color: #555;
    text-align: center;
}

.about ul {
    list-style-type: square;
    margin-left: 0;
    padding: 0;
    text-align: center;
}

.about li {
    display: inline-block;
    text-align: left;
    margin-left: 20px;
}
