.adicionar-review-btn {
  background-color: #3498db; 
  color: white;
  padding: 8px 12px;
  margin-top: 10px;
  display: inline-block; 
}

.review-container {
  margin: 20px;
}

h2 {
  font-size: 28px; 
  margin-bottom: 15px;
  color: #333; 
  border-bottom: 2px solid #3498db; 
  padding-bottom: 5px; 
  align-items: center;
  display: flex;
  justify-content: center;
}

button {
  background-color: #3498db;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: #2980b9;
}

textarea {
  width: 100%;
  height: 100px;
  margin-top: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.review-inputs {
  display: flex;
  flex-direction: column; 
}

.rating-container {
  display: flex;
  align-items: center; 
  margin-top: 10px;
}

.review-item {
  margin-bottom: 10px; 
  background-color: #f9f9f9; 
  padding: 10px;
  border-radius: 5px; 
  border: 1px solid #ddd; 
}

.review-item p {
  margin: 0; 
}

.review-item p:last-child {
  margin-top: 5px; 
}
