<div class="content">
  <div class="review-container">
    <div
      class="alert alert-danger fade show"
      role="alert"
      id="error1"
      *ngIf="errorOccured"
    >
      <strong>An error occured while creating/editing the review</strong> Verify
      if your logged in, if you're editing a review that you made or if you left
      any of the fields empty.
      <button
        type="button"
        class="btn-close float-end"
        (click)="errorOccured = false"
      ></button>
    </div>

    <h2>Review do produto {{ productId }}</h2>

    <button (click)="toggleFilterOptions()">Ordenar por</button>

    <div *ngIf="showFilterOptions">
      <button (click)="applyFilter('asc')">Mais baixas 1º</button>
      <button (click)="applyFilter('desc')">Mais altas 1º</button>
      <button (click)="applyFilter('normal')">Default</button>
    </div>

    <div *ngFor="let review of getFilteredReviews()" class="review-item">
      <p>
        {{ review.comment }} - Rating: {{ review.rating }}
        <button class="btn flex-end" (click)="editReview(review.id)">Editar</button>
      </p>
    </div>

    <div class="review-inputs">
      <textarea
        [(ngModel)]="novaReviewTexto"
        placeholder="Insira sua avaliação..."
        class="review-textarea"
      ></textarea>
      <div class="rating-container">
        <label for="novaReviewRating">Rating:</label>
        <input
          type="number"
          id="novaReviewRating"
          name="novaReviewRating"
          [(ngModel)]="novaReviewRating"
          min="1"
          max="5"
          required
        />
      </div>
      <button (click)="adicionarReview()" class="adicionar-review-btn">
        Adicionar Review
      </button>
    </div>
  </div>
</div>
