<ng-container *ngIf="error1">
  <div
    class="alert container alert-danger show mt-5 d-flex justify-content-between align-items-center"
  >
    <p>
      <strong>Some information is missing!</strong> Please fill the form
      properly.
    </p>
    <button class="btn btn-danger" (click)="closeError(1)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</ng-container>

<ng-container *ngIf="error2">
  <div
    class="alert container alert-danger show mt-5 d-flex justify-content-between align-items-center"
  >
    <p>
      <strong>Internal server error. Please contact an administrator</strong>
    </p>
    <button class="btn btn-danger" (click)="closeError(2)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</ng-container>

<!-- <<ERRORS || EDIT CLIENT  >> -->
<div class="container col-lg-8 col-md-12">
  <ng-container *ngIf="client">
    <nav class="navbar navbar-dark bg-gray">
      <div class="container-fluid">
        <a class="navbar-brand">Edit profile</a>
        <a (click)="closeEditInformation()">
          <i class="fa-regular fa-circle-xmark exit-icon"></i>
        </a>
      </div>
    </nav>

    <form
      [formGroup]="clientForm"
      #formDir="ngForm"
      class="flex justify-content-between"
    >
      <div [hidden]="formDir.submitted">
        <div
          class="cross-validation"
          [class.cross-validation-error]="clientForm.errors?.['identityRevealed'] && (clientForm.touched || clientForm.dirty)"
        >
          <div class="form-group">
            <div class="row justify-content-around m-2">
              <!-- LEFT COLUMN -->
              <div class="col-md-10 col-lg-6 col-xl-5">
                <!-- NAME -->
                <div class="d-flex flex-row align-items-center mb-4">
                  <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                  <div class="form-outline flex-fill mb-0">
                    <label class="form-label" for="name">Name</label>

                    <input
                      type="text"
                      id="name"
                      class="form-control"
                      formControlName="name"
                      value="{{ client.name }}"
                    />
                    <!--name.error-->
                    <div
                      *ngIf="name.invalid && (name.dirty || name.touched)"
                      class="text-muted"
                    >
                      <div *ngIf="name.errors?.['required']">
                        Your name is required.
                      </div>
                      <div
                        *ngIf="name.errors?.['minlength'] || name.errors?.['maxlength']"
                      >
                        Your name must be between 3 and 60 characters.
                      </div>
                    </div>
                  </div>
                </div>

                <!-- country -->
                <div class="d-flex flex-row align-items-center mb-4">
                  <i class="fa fa-building fa-lg me-3 fa-fw"></i>
                  <div class="form-outline flex-fill mb-0">
                    <label class="form-label" for="form3Example1c"
                      >Country</label
                    >

                    <input
                      type="text"
                      id="country"
                      class="form-control"
                      formControlName="country"
                      value="{{ client.country }}"
                    />
                    <div
                      *ngIf="
                        country.invalid && (country.dirty || country.touched)
                      "
                      class="text-muted"
                    >
                      <div *ngIf="country.errors?.['required']">
                        Country is required.
                      </div>
                      <div
                        *ngIf="country.errors?.['minlength'] || country.errors?.['maxlength']"
                      >
                        Country must be between 3 and 40 characters.
                      </div>
                    </div>
                  </div>
                </div>

                <!-- POSTAL CODE -->
                <div class="d-flex flex-row align-items-center mb-4">
                  <i class="fa-solid fa-road fa-lg me-3 fa-fw"></i>
                  <div class="form-outline flex-fill mb-0">
                    <label class="form-label" for="form3Example1c"
                      >Postal Code</label
                    >

                    <input
                      type="text"
                      id="postalCode"
                      class="form-control"
                      formControlName="postalCode"
                      value="{{ client.postalCode }}"
                    />

                    <div
                      *ngIf="
                        postalCode.invalid &&
                        (postalCode.dirty || postalCode.touched)
                      "
                      class="text-muted"
                    >
                      <div *ngIf="postalCode.errors?.['required']">
                        Postalcode is required.
                      </div>
                      <div *ngIf="postalCode.errors?.['pattern']">
                        Postalcode must follow the expected format: 0000-000.
                      </div>
                    </div>
                  </div>
                </div>

                <!-- EMAIL -->
                <div class="d-flex flex-row align-items-center mb-4" id="email">
                  <i class="fas fa-at fa-lg me-3 fa-fw"></i>
                  <div class="form-outline flex-fill mb-0">
                    <label class="form-label">Email</label>

                    <!-- EMAIL -->
                    <input
                      type="email"
                      id="email"
                      class="form-control"
                      formControlName="email"
                      value="{{ client.email }}"
                    />

                    <div
                      *ngIf="email.invalid && (email.dirty || email.touched)"
                      class="text-muted"
                    >
                      <div *ngIf="email.errors?.['required']">
                        Email is required.
                      </div>
                      <div *ngIf="email.errors?.['email']">
                        Email is not following the expected format:
                        email&#64;domain.com/pt/....
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-10 col-lg-6 col-xl-5">
                <div class="d-flex flex-row align-items-center mb-4">
                  <i class="fas fa-mobile fa-lg me-3 fa-fw"></i>
                  <div class="form-outline flex-fill mb-0">
                    <label class="form-label">Contact</label>

                    <input
                      type="number"
                      id="contact"
                      class="form-control"
                      formControlName="contact"
                      value="{{ client.contact }}"
                    />

                    <div
                      *ngIf="
                        contact.invalid && (contact.dirty || contact.touched)
                      "
                      class="text-muted"
                    >
                      <div *ngIf="contact.errors?.['required']">
                        Contact is required.
                      </div>
                      <div
                        *ngIf="contact.errors?.['minlength'] || contact.errors?.['maxlength']"
                      >
                        Contact must be 9 digits.
                      </div>
                    </div>
                  </div>
                </div>

                <div class="d-flex flex-row align-items-center mb-4">
                  <i class="fas fa-genderless fa-lg me-3 fa-fw"></i>
                  <div class="form-outline flex-fill mb-0">
                    <label class="form-label">Currency Preference</label>

                    <select
                      class="form-select"
                      id="preferredCurrency"
                      name="preferredCurrency"
                      formControlName="preferredCurrency"
                    >
                      <option value="EUR">Euro</option>
                      <option value="USD">Dólar</option>
                      <option value="GBP">Libra</option>
                      <option value="BRL">Real</option>
                    </select>

                    <div
                      *ngIf="
                        preferredCurrency.invalid &&
                        (preferredCurrency.dirty || preferredCurrency.touched)
                      "
                      class="text-muted"
                    >
                      <div *ngIf="preferredCurrency.errors?.['required']">
                        Currency is required.
                      </div>
                    </div>
                  </div>
                </div>

                <div class="d-flex flex-row align-items-center mb-4">
                  <i class="fas fa-location-dot fa-lg me-3 fa-fw"></i>
                  <div class="form-outline flex-fill mb-0">
                    <label class="form-label">Address</label>

                    <input
                      type="text"
                      id="address"
                      class="form-control"
                      formControlName="address"
                      value="{{ client.address }}"
                    />

                    <div
                      *ngIf="
                        address.invalid && (address.dirty || address.touched)
                      "
                      class="text-muted"
                    >
                      <div *ngIf="address.errors?.['required']">
                        Address is required.
                      </div>
                      <div
                        *ngIf="address.errors?.['minlength'] || address.errors?.['maxlength']"
                      >
                        Address must be between 1 and 30 characters.
                      </div>
                    </div>
                  </div>
                </div>

                <div class="d-flex flex-row align-items-center mb-4">
                  <i class="fas fa-id-card fa-lg me-3 fa-fw"></i>
                  <div class="form-outline flex-fill mb-0">
                    <label class="form-label">NIF</label>

                    <input
                      class="form-control"
                      type="number"
                      name="nif"
                      formControlName="nif"
                      value="{{ client.nif }}"
                    />

                    <div
                      *ngIf="nif.invalid && (nif.dirty || nif.touched)"
                      class="text-muted"
                    >
                      <div *ngIf="nif.errors?.['required']">
                        Nif is required.
                      </div>
                      <div
                        *ngIf="nif.errors?.['minlength'] || nif.errors?.['maxlength']"
                      >
                        Nif is invalid. Must contain 9 digits.
                      </div>
                    </div>
                  </div>
                </div>

                <div class="d-flex flex-row align-items-center mb-4">
                  <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                  <div class="form-outline flex-fill mb-0">
                    <label class="form-label" for="form3Example1c"
                      >Password</label
                    >

                    <input
                      class="form-control"
                      type="password"
                      name="password"
                      placeholder="********"
                      formControlName="password"
                    />

                    <div
                      *ngIf="
                        password.invalid && (password.dirty || password.touched)
                      "
                      class="text-muted"
                    >
                      <div *ngIf="password.errors?.['maxLength']">
                        Your password must not contain more than 20 characters.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>

    <div class="d-flex justify-content-center">
      <button
        type="button"
        class="btn btn-primary btn-lg col-md-3 col-10 mb-5"
        (click)="editProfile()"
      >
        Save
      </button>
    </div>
  </ng-container>
</div>
