.hero {
    background: url('../../../assets/images/ARTE.png') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .hero-content {
    color: #fff;
  }
  
  .hero-content h1 {
    font-size: 3em;
    margin-bottom: 10px;
  }
  
  .hero-content p {
    font-size: 1.2em;
    margin-bottom: 20px;
    color:black;
    font-weight: bold;
  }
  
  .hero-content a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #e99c2e;
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .hero-content a:hover {
    background-color: #d17d24;
  }