<section class="hero">
    <div class="hero-content">
      <h1>Welcome to Artisani</h1>
      <p>Discover unique and handmade crafts just for you.</p>
      <a class="cart-product" (click)="navigateTo('products')">Explore Products</a>
    </div>
  </section>