
.table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .table {
    width: 80%;
    margin-top: 20px;
    border-collapse: collapse;
  }
  
  td {
    text-align: center;
  }

.back-btn {
    background-color: #3498db;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: 215px;
    float: right; 
    align-self: right;
    justify-content: flex-end;
    display: flex-end;
    border-radius: 10px;
  }
  
  .back-btn:hover {
    background-color: #2980b9;
    
  }
  

  .column-id,
  .column-date,
  .column-quantity,
  .column-products,
  .column-total-price {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
  }
  

  .ver-produtos-btn,
  .close-btn {
    background-color: #3498db;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    margin-right: 5px;
    border-radius: 10px;
  }
  
  .ver-produtos-btn:hover,
  .close-btn:hover {
    background-color: #2980b9;
  }
  

  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 5px;
  }
  
  
  h2 {
    text-align: center;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    color: black;
  }
  
input[type="text"] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: 15px; 
}