<div class="table-container">
  <h2>Histórico de Compras</h2>

  <input type="text" [(ngModel)]="searchTerm" placeholder="Pesquisar por produto" />

  <table class="table">
    <thead>
      <tr>
        <th scope="col" class="column-id">Id</th>
        <th scope="col" class="column-date">Data</th>
        <th scope="col" class="column-quantity">Quantidade de Produtos</th>
        <th scope="col" class="column-products">Produtos</th>
        <th scope="col" class="column-total-price">Preço Total</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let purchase of filteredPurchaseHistory">
        <td>{{ purchase.id }}</td>
        <td>{{ purchase.date | date : "short" }}</td>
        <td>{{ purchase.totalProductQuantity }}</td>
        <td>
          <button *ngIf="!purchase.showProducts" class="ver-produtos-btn" (click)="showProductsByPackageId(purchase)">Ver Produtos</button>
          <div *ngIf="purchase.showProducts">
            <button class="close-btn" (click)="closeProductDetails(purchase)">Fechar</button>
            <ul>
              <li *ngFor="let product of getProductsByPackageId(purchase.id)">
                {{ product.product.name }} - {{ product.product.individualPrice | currency : "USD" : "symbol" : "1.2-2" }}
              </li>
            </ul>
          </div>
        </td>
        <td>{{ purchase.totalValue | currency : "EUR" : "symbol" : "1.2-2" }}</td>
      </tr>
    </tbody>
  </table>
  <button class="back-btn" (click)="goBack()">Voltar</button>
</div>
