.custom-card {
    width: 300px;
    height: 200px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.custom-card > * {
    align-items: space-between;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}