<div class="card custom-card">
  <div class="card-body">
    <button [routerLink]="['/client/view']" class="btn btn-primary">
      View Personal Profile
    </button>
    <button [routerLink]="['/client/statistics']" class="btn btn-primary">
      View Personal Statistics
    </button>
    <button (click)="logout()" class="btn btn-primary">
      Logout
    </button>
  </div>
</div>
