.container {
    outline: rgb(180, 180, 180) solid 1px;
    margin-top: 50px !important;
    padding: 0px !important;
    width: 90%;
    margin: auto;
  }
  
  .information-container {
    padding: 12px;
  }
  
  .bg-gray {
    background-color:  rgb(180, 180, 180);
  }
  