<div class="container col-lg-8 col-md-12">
  <ng-container *ngIf="client">
    <ng-container *ngIf="!isEditing && !isWatchingSales">
      <nav class="navbar navbar-dark bg-gray">
        <div class="container-fluid">
          <a class="navbar-brand">Personal Information</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarsExample01"
            aria-controls="navbarsExample01"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarsExample01">
            <ul class="navbar-nav me-auto mb-2">
              <li class="nav-item">
                <button
                  type="button"
                  class="nav-link active"
                  (click)="editProfile()"
                >
                  <i class="fa-solid fa-pencil"></i> Edit Information
                </button>
              </li>
              <li class="nav-item">
                <button
                  type="button"
                  class="nav-link active"
                  (click)="seeSales()"
                >
                  <i class="fa-solid fa-eye"></i> View Sales
                </button>
              </li>
              <li class="nav-item">
                <button
                  type="button"
                  class="nav-link active"
                  (click)="logout()"
                >
                  <i class="fa-solid fa-sign-out"></i> Logout
                </button>
            </ul>
          </div>
        </div>
      </nav>

      <div class="information-container">
        <div class="card-block p-1">
          <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
              <h3 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">Name</h3>
              <h4 class="text-muted f-w-400">
                {{ client.name }}
              </h4>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
              <h3 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">
                Currency Prefered
              </h3>
              <h4 class="text-muted f-w-400">
                <ng-container *ngIf="client.preferredCurrency == 'EUR'">
                  EUR
                </ng-container>
                <ng-container *ngIf="client.preferredCurrency == 'USD'">
                  USD
                </ng-container>
                <ng-container *ngIf="client.preferredCurrency == 'GBP'">
                  GBP
                </ng-container>
                <ng-container *ngIf="client.preferredCurrency == 'BRL'">
                  BRL
                </ng-container>
              </h4>
            </div>
          </div>

          <hr class="dashed" />

          <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
              <h3 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">
                Mobile Contact
              </h3>
              <h4 class="text-muted f-w-400">
                {{ client.contact }}
              </h4>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
              <h3 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">Email</h3>
              <h4 class="text-muted f-w-400">
                {{ client.email }}
              </h4>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
              <h3 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">NIF</h3>
              <h4 class="text-muted f-w-400">
                {{ client.nif }}
              </h4>
            </div>
          </div>
        </div>

        <hr class="dashed" />

        <div class="row">
          <div class="col-lg-4 col-md-12 mb-2">
            <h3 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">Address</h3>
            <h4 class="text-muted f-w-400">
              {{ client.address }}
            </h4>
          </div>

          <div class="col-lg-4 col-md-6 mb-2">
            <h3 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">Country</h3>
            <h4 class="text-muted f-w-400">
              {{ client.country }}
            </h4>
          </div>

          <div class="col-lg-4 col-md-6 mb-2">
            <h3 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">Postal Code</h3>
            <h4 class="text-muted f-w-400">
              {{ client.postalCode }}
            </h4>
          </div>
        </div>
        <hr class="hr" />

        <h2>Points Plan</h2>

        <div class="card-block p-1 mb-5">
          <div class="row">
            <div class="col-lg-6 col-md-6 mb-2">
              <h3 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">
                Total Amount Purchase
              </h3>
              <h4 class="text-muted f-w-400">
                {{ client.totalPurchasesValue }} {{ client.preferredCurrency == 'EUR' ? '€' : client.preferredCurrency == 'USD' ? '$' : client.preferredCurrency == 'GBP' ? '£' : 'R$' }}
              </h4>
            </div>
            <div class="col-lg-6 col-md-6 mb-2">
              <h3 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">
                Total Money Purchase
              </h3>
              <h4 class="text-muted f-w-400">
                {{ client.totalPurchasesAmount }} {{ client.preferredCurrency == 'EUR' ? '€' : client.preferredCurrency == 'USD' ? '$' : client.preferredCurrency == 'GBP' ? '£' : 'R$' }}
              </h4>
            </div>
          </div>

          <hr class="dashed" />

          <div class="row">
            <div class="col-lg-6 col-md-6 mb-2">
              <h3 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">
                Current Points
              </h3>
              <h4 class="text-muted f-w-400">
                {{ client.currentPoints }}
              </h4>
            </div>

            <div class="col-lg-6 col-md-6 mb-2">
              <h3 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">
                Total Spent Points
              </h3>
              <h4 class="text-muted f-w-400">
                {{ client.totalSpentPoints }}
              </h4>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="isEditing">
    <app-edit-profile [client]="client"></app-edit-profile>
  </ng-container>

  <ng-container *ngIf="isWatchingSales">
    <app-purchase-history
      [client]="client"
      (closeIsWatchingSales)="closeSeeSales()"
    ></app-purchase-history>
  </ng-container>
</div>
