.container {
    outline: rgb(180, 180, 180) solid 1px;
    margin: 0;
    padding: 0;
    padding-bottom:30px;
    margin-top: 50px !important;
    margin: auto;
  }

  .bg-gray {
    background-color:  rgb(180, 180, 180);
    margin-bottom: 30px;
  }

  .exit-icon {
    font-size: 20px;
    color: white;
}
