
.container {
    outline: rgb(180, 180, 180) solid 1px;
    margin: 0;
    padding: 0;
    padding-bottom:50px;
    margin-top: 50px !important;
    margin: auto;
  }
  .bg-gray {
    background-color:  rgb(233, 156, 46);
    margin-bottom: 50px;
  }
  
  .link-danger {
    border: none;
    background-color: transparent;
    color: red; /* Change the color to match your desired link color */
    text-decoration: underline;
    cursor: pointer;
  }

  .custom-button {
    background-color: rgb(233, 156, 46);
    border-color: rgb(233, 156, 46); /* Define a cor do contorno igual à cor de fundo. */
    color: #fff; /* Define a cor do texto para branco ou outra cor que desejar. */
  }

  .custom-text {
    font-size: 22px !important;
    margin: 0 !important;
  }