<div class="content">
  <div
    class="alert alert-danger fade show"
    role="alert"
    id="errorLoginFailed"
    *ngIf="errorLoginFailed"
  >
    <strong>Login failed!</strong> Check if you've inserted the correct
    information!
    <button
      type="button"
      class="btn-close float-end"
      (click)="closeErrorLoginFailed()"
    ></button>
  </div>

  <div
    class="alert alert-danger fade show"
    role="alert"
    id="showNeedLoginMessage"
    *ngIf="showNeedLoginMessage"
  >
    <strong>Can't proceed to the expected page!</strong> You need to login
    first!
    <button
      type="button"
      class="btn-close float-end"
      (click)="showNeedLoginMessage = false"
    ></button>
  </div>

  <div
    class="alert alert-danger fade show"
    role="alert"
    id="blockedEmailError"
    [hidden]="!blockedEmailError"
  >
    <button
      type="button"
      class="btn-close float-end"
      (click)="blockedEmailError = false"
    ></button>
  </div>

  <section class="vh-75">
    <div class="container mt-5">
      <nav class="navbar navbar-dark bg-gray">
        <div class="container-fluid d-flex justify-content-center">
          <h2 class="navbar-brand text-center custom-text">Login</h2>
        </div>
      </nav>
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-8 col-lg-6 col-xl-4">
          <form>
            <!-- Email input -->
            <div class="form-outline mb-4">
              <input
                type="email"
                id="form3Example3"
                class="form-control form-control-lg"
                placeholder="Email"
                #email
              />
              <label class="form-label" for="form3Example3"
                >Email address</label
              >
            </div>

            <!-- Password input -->
            <div class="form-outline mb-3">
              <input
                type="password"
                id="form3Example4"
                class="form-control form-control-lg"
                placeholder="Password"
                #pass
              />
              <label class="form-label" for="form3Example4">Password</label>
            </div>

            <div class="text-center text-lg-start mt-4 pt-2">
              <button
                type="submit"
                class="btn btn-primary btn-lg col-md-12 custom-button"
                (click)="login(email.value, pass.value)"
              >
                Login
              </button>

              <ng-container *ngIf="loading">
                <mat-progress-bar
                  mode="indeterminate"
                  class="mb-4 mt-5"
                ></mat-progress-bar>
              </ng-container>

              <h6 class="fw-bold mt-2 pt-1 mb-0">
                New here?
                <a type="button" class="link-danger" (click)="register()">
                  Register now
                </a>
              </h6>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
