.product-details {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.product-image {
  flex: 1;
  max-width: 50%;
  text-align: center;
}

.product-image img {
  max-width: 100%;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.product-info {
  flex: 1;
  padding: 20px;
}

.product-info-container {
  background-color: #f3f3f3; /* Darker background color */
  border-radius: 10px;
  border-color: #000000;
  border-width: 2px;
  border-style: solid;
  padding: 20px;
}

.product-information {
  color: black; /* White text color */
  margin-bottom: 15px;
}

.product-price {
  font-size: 28px;
  font-weight: bold;
  color: #28a745;
}

.btn-container {
  margin-top: 20px;
}

.custom-button {
  margin-left: 10px;
}

@media screen and (max-width: 768px) {
  .product-details {
    flex-direction: column;
  }

  .product-image,
  .product-info {
    max-width: 100%;
  }

  .product-price {
    font-size: 18px;
  }
}

@media screen and (max-width: 1200px) {
  .product-title {
    font-size: 30px;
  }

  .product-category {
    font-size: 20px;
  }

  .product-price {
    font-size: 22px;
  }

  #quantity {
    font-size: 12px;
  }
}
