<div class="content">
  <div
    class="alert alert-danger fade show"
    role="alert"
    id="errorQuantity"
    [hidden]="!quantityInvalid"
  >
    <strong>Invalid Quantity!</strong> Please type a number between 1 and 10.
    <button
      type="button"
      class="btn-close float-end"
      (click)="quantityInvalid = false"
    ></button>
  </div>

  <div
    class="alert alert-danger fade show"
    role="alert"
    id="errorInsufficientStock"
    [hidden]="!insufficientStock"
  >
    <strong>Insufficient Stock!</strong> The quantity you requested exceeds the
    available stock.
    <button
      type="button"
      class="btn-close float-end"
      (click)="insufficientStock = false"
    ></button>
  </div>

  <div class="container">
    <div class="row product-details">
      <div class="col product-image">
        <img
          src="https://localhost:7204{{ product.imagePath }}"
          class="img-fluid"
          alt="Product Image"
        />
      </div>
      <div class="col product-info">
        <div class="product-info-container">
          <h2 class="product-information text-center">
            Name: {{ product.name }}
          </h2>
          <p class="product-information text-center">
            Category: {{ product.category }}
          </p>
          <p class="product-information text-center">
            Dimensions:
            {{ product.height }} x {{ product.width }}
          </p>
          <p class="product-information text-center">
            Material:
            {{ product.typeOfMaterialMade }}
          </p>
          <p class="product-information text-center">
            Washing Instructions:
            {{ product.washingInstructions }}
          </p>
          <div class="row">
            <div class="col-4">
              <p class="product-information text-center">
                Stock:
                {{ product.stock == 1 ? "Exclusive Product" : product.stock }}
              </p>
            </div>
            <div class="col-4">
              <p class="product-price text-center">
                {{ product.individualPrice }} {{ this.preferredCurrencySymbol }}
              </p>
            </div>

            <div class="col-4">
              <div class="input-group mb-3">
                <span class="input-group-text" id="quantity">Quantity</span>
                <input
                  class="form-control"
                  type="number"
                  [(ngModel)]="quantity"
                  (ngModelChange)="updateQuantityInvalidStatus()"
                  name="quantity"
                  [min]="1"
                  [max]="10"
                  required
                />
              </div>
            </div>
          </div>

          <div class="btn-container text-center">
            <button class="btn btn-primary custom-button" (click)="onClose()">
              Close
            </button>
            <button
              class="btn btn-success custom-button"
              (click)="onAddToCart(product)"
            >
              Add to Cart
            </button>
            <a class="custom-button" [routerLink]="['/reviews', product.id]"
              >Look at the reviews</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
