<ng-container *ngIf="showProductDetails">
  <app-product-details
    [product]="selectedProduct"
    (closeProductDetails)="closeProductDetails()"
  ></app-product-details>
</ng-container>

<ng-container *ngIf="!showProductDetails">
  <div class="content">
    <div class="filterOptions text-center">
      <div
        class="btn-group"
        role="group"
        aria-label="Checkbox toggle button group"
      >
        <input
          type="checkbox"
          class="btn-check"
          id="btncheck1"
          autocomplete="off"
          #checkbox1
          (click)="addRemoveFilter('name', checkbox1.checked)"
        />
        <label class="btn btn-outline-warning" for="btncheck1"
          >Product Name</label
        >

        <input
          type="checkbox"
          class="btn-check"
          id="btncheck2"
          autocomplete="off"
          #checkbox2
          (click)="addRemoveFilter('category', checkbox2.checked)"
        />
        <label class="btn btn-outline-warning" for="btncheck2"
          >Product Category</label
        >

        <input
          type="checkbox"
          class="btn-check"
          id="btncheck3"
          autocomplete="off"
          #checkbox3
          (click)="addRemoveFilter('typeOfMaterialMade', checkbox3.checked)"
        />
        <label class="btn btn-outline-warning" for="btncheck3"
          >Product Material</label
        >

        <input
          type="checkbox"
          class="btn-check"
          id="btncheck4"
          autocomplete="off"
          #checkbox4
          (click)="addRemoveFilter('stock', checkbox4.checked)"
        />
        <label class="btn btn-outline-warning" for="btncheck4">Has stock</label>
      </div>
    </div>
    <h1 class="mt-5 text-center">Product List</h1>
    <div class="container">
      <div class="row justify-content-center">
        <ng-container
          *ngFor="
            let product of productArray
              | searchBarFilter : searchText
              | paginate : { itemsPerPage: 6, currentPage: p }
          "
        >
          <div class="col-lg-4 col-md-6 col-sm-12 mt-5">
            <div class="card" (click)="productDetails(product.id)">
              <img
                src="https://localhost:7204{{ product.imagePath }}"
                [height]="300"
                alt=""
              />
              <h2>{{ product.name }}</h2>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="text-center m-5">
      <pagination-controls
        (pageChange)="p = $event"
        previousLabel="Previous"
        nextLabel="Next"
        class="text-center"
      ></pagination-controls>
      <hr />
    </div>
  </div>
</ng-container>
