h1,
h2 {
  font-size: 36px;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #616060; /* Change the color to your preference */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle text shadow */
}

h2 {
  font-size: 24px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 20px;
}

.card {
  margin: 0 0 10px;
  text-align: center;
  background-color: white;
  border: 2px solid orange;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.4s ease;
}

.card img {
  max-width: 100%;
  border: 2px solid rgb(247, 247, 247); /* Add a border around the image */
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  transition: all 0.4s ease;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.button-container button {
  background-color: orange;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.button-container button:hover {
  background-color: darkorange;
}

.btn,
.btn-check,
.btn-outline-warning:hover {
  box-shadow: none !important;
  outline: 0 !important;
  --bs-btn-hover-color: #ffc107 !important;
  --bs-btn-hover-bg: white !important;
}
